.sidebar-container{
    /* background: linear-gradient(to bottom, black, #212529); */
    background-color: black;
    height: 113%;
    font-weight: 700;
    position:relative;
    top: -8px;
    margin-left: -12px;
    padding-left: 10px;
}
.b {
    font-size: large;
}
